<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iblog.mapper.BlogMapper">
    <insert id="addBlog">
        INSERT INTO t_blog (
            blog_id,
            user_id,
            user_nickname,
            title,
            content,
            content_html,
            category_id,
            category_name,
            is_hide,
            summary,
            create_time,
            update_time
        )
        values (#{blogId},#{userId},#{userNickname},#{title},#{content},#{contentHtml},#{categoryId},
              #{categoryName},#{isHide},#{summary},#{createTime},#{updateTime})
    </insert>

    <update id="updateBlog">
        update t_blog
        set
        <if test="title != null">
                title = #{title},
        </if>
        <if test="content != null">
            content = #{content},
        </if>
        <if test="contentHtml != null">
            content_html = #{contentHtml},
        </if>
        <if test="categoryId != null">
            category_id = #{categoryId},
        </if>
        <if test="categoryName != null">
            category_name = #{categoryName},
        </if>
        <if test="isHide != null">
            is_hide = #{isHide},
        </if>
        <if test="summary != null">
            summary = #{summary},
        </if>
        <if test="viewNum != null">
            view_num = #{viewNum},
        </if>
        <if test="likeNum != null">
            like_num = #{likeNum},
        </if>
        <if test="commentNum != null">
            comment_num = #{commentNum},
        </if>
        <if test="blogStatus != null">
            blog_status = #{blogStatus},
        </if>
        <if test="checkComment != null">
            check_comment = #{checkComment},
        </if>
        <if test="checkTime != null">
            check_time = #{checkTime},
        </if>
            blog_id = #{blogId}
        where
            blog_id = #{blogId}
    </update>
    <update id="updateCommentNum">
        update t_blog
        set comment_num = comment_num + 1
        where
            blog_id = #{blogId}
    </update>

    <delete id="deleteBlog">
        delete from t_blog where blog_id = #{blogId}
    </delete>

    <!--首页查询文章基本信息-->
    <select id="findBlogs" resultMap="blogResultMap">
        SELECT
        blog_id,user_id,title,summary,like_num,comment_num,view_num,content
        FROM
        t_blog
        WHERE
        is_hide = 1
        <if test="keyword != null and keyword != ''">
            and concat(title,summary) like '%${keyword}%'
        </if>
        order by create_time desc
    </select>

    <select id="findCategoryBlogs" resultMap="blogResultMap">
        SELECT
        b.*
        FROM
        t_blog b,
        t_category c,
        l_blog_category bc
        WHERE
        b.blog_id = bc.blog_id
        AND c.category_id = bc.category_id
        <if test="categoryId != null and categoryId != ''">
            and c.category_id = #{categoryId}
        </if>
    </select>

    <select id="queryBlogOfUser" resultMap="blogResultMap">
        select * from t_blog
        where 1=1
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="categoryId != null and categoryId != 'null'">
            and category_id = #{categoryId}
        </if>
        order by create_time desc
    </select>

    <select id="getAllBlogId" resultType="java.lang.String">
        select blog_id as blogId from t_blog
    </select>

    <select id="getBlogById" resultMap="blogResultMap">
        select
        blog_id,comment_num,view_num,like_num
        from t_blog where blog_id = #{blogId}
    </select>

    <select id="queryBlogByStatus" resultMap="blogResultMap">
        select
        blog_id,user_id,title,summary
        from t_blog
        where blog_status = #{blogStatus}
    </select>

    <select id="queryBlogInfo" resultMap="blogResultMap">
      select
      blog_id,title,content,blog_status
      from t_blog
      where
      blog_id = #{blogId}
    </select>

    <resultMap id="blogResultMap" type="com.iblog.entity.Blog">
        <id property="blogId" column="blog_id"/>
        <result property="userId" column="user_id"/>
        <result property="userNickname" column="user_nickname"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="contentHtml" column="content_html"/>
        <result property="tags" column="tags"/>
        <result property="isHide" column="is_hide"/>
        <result property="likeNum" column="like_num"/>
        <result property="viewNum" column="view_num"/>
        <result property="summary" column="summary"/>
        <result property="commentNum" column="comment_num"/>
        <result property="blogStatus" column="blog_status"/>
        <result property="checkComment" column="check_comment"/>
        <result property="createTime" column="create_time"/>
        <result property="checkTime" column="check_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
</mapper>