<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iblog.mapper.BlogTagMapper">
    <insert id="addBlogTag">
        insert into l_blog_tag (blog_id,tag_id)
        values (#{blogId},#{tagId})
    </insert>

    <delete id="deleteTagOfBlog">
        delete from l_blog_tag where blog_id = #{blogId}
    </delete>
</mapper>